body {
    background: #34495e;
}

.content-main{
    display: flex;
    justify-content: center;
}

.viewport {
    position: absolute;
    top: 70px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    background: white;
}

.viewport.status {
    height: auto;
    top: 15px;
    background: none;
}

.axis {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
    opacity: 0.5;
}

.axis-y {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 2px;
    background: #bdc3c7;
    height: 100%;
    margin-left: -1px;
}

.axis-x {
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    background: #bdc3c7;
    width: 100%;
    margin-top: -1px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 25;
}

.car {
    position: absolute;
    background: #3498db;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    color: white;
    text-align: center;
    z-index: 15;
}

.car svg {
    font-size: 24px;
    margin-top: 6px;
}

.bomb {
    position: absolute;
    background: #e74c3c;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    color: white;
    z-index: 10;
    text-align: center;
}

.bomb svg {
    font-size: 18px;
    margin-top: 4px;
}

.score {
    position: absolute;
    background: #2ecc71;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    color: white;
    z-index: 5;
    text-align: center;
}

.score svg {
    font-size: 18px;
    margin-top: 4px;
}

.button-container{
    position: absolute;
    top: 420px;
}

.button-top{
    position: absolute;
    top: -30px;
    left: 34%;
}

.button-top, .button-left, .button-bottom, .button-right{
    width: 90px;
    border-radius: 5px;
    background-color: #bdc3c7;
    color: white;
    border: none;
}

.button-start{
    position: absolute;
    z-index: 99999;
    top: 205px;
    border-radius: 5px;
    background: #bdc3c7;
    color: white;
    border: none;
}

.button-restart{
    position: absolute;
    z-index: 99999;
    top: 205px;
    border-radius: 5px;
    background: #bdc3c7;
    color: white;
    border: none;
}
